$primary-dark-blue: hsl(243, 87%, 12%);
$primary-des-blue: hsl(238, 22%, 44%);
$accent-bright-blue: hsl(224, 93%, 58%);
$accent-moderate-cyan: hsl(170, 45%, 43%);
$neutral-light-gray-blue: hsl(240, 75%, 98%);
$neutral-light-gray: hsl(0, 0%, 75%);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
